:root {
    /*https://colorhunt.co/palette/000000282a3a735f32c69749*
    --main-bg-color: #000000;
    --other-bg-color: #282A3A;
    --border-color: #735F32;
    --highlight-color: #C69749;
    --main-text-color: #ffffff;
    --other-text-color: #999999;/**/

    /*
    --main-bg-color: #000000;
    --other-bg-color: #222A50;
    --border-color: #A36A00;
    --highlight-color: #FFA500;
    --main-text-color: #ffffff;
    --other-text-color: #999999;/**/

    /**/
    --main-bg-color: #000000;
    --other-bg-color: #222222;
    --border-color: #AAAAAA;
    --highlight-color: #BBDDFF;
    --main-text-color: #ffffff;
    --other-text-color: #999999;/**/
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
}

h1, h2 {
    text-align: center;
}

div.sidebar {
    width: 290px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--other-bg-color);
    border: 5px groove var(--border-color);
    padding-left: 10px;
    background-image: linear-gradient(var(--other-bg-color), var(--main-bg-color));
}

div.main-section {
    margin-left: 335px;
}

.indent {
    padding-left: 40px;
}

.collapse-header {
    width: 60%;
    background-color: var(--other-bg-color);
    margin-bottom: 2px;
    margin-top: 2px;
    background-image: linear-gradient(to right, var(--other-bg-color), var(--main-bg-color));
}

.hiding .collapse-header {
    color: var(--other-text-color);
}

button.filter, button.showhide {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border: 1px solid var(--border-color);
    height: 100%;
    width: 24px;
    text-align: center;
}

.collapse-content {
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-inline-start: 0px;
}

div.star {
    margin-left: 10px;
    margin-right: 15px;
    border-top: 1px solid rgba(163,106,0,0.2);
    border-bottom: 1px solid rgba(163,106,0,0.2);
}

div.star button.filter span {
    position: relative;
    left: -4px;
}

div.star span.stars {
    position: absolute;
    right: 10px;
    color: var(--highlight-color);
}

div.tile-box {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 100px;
}

img.screenshot {
    height: 250px;
    display: inline-block;
    border: 5px groove var(--border-color);
    margin: 1em;
    margin-left: -40%;
    margin-right: -40%;
    transition: all .3s ease-in-out;
}

img.screenshot:hover {
    transform: scale(1.25);
    z-index: 1;
}

a:link {
    color:skyblue;
}

a:visited {
    color:blueviolet;
}

a:hover {
    color:firebrick;
}

a:active {
    color:gold;
}
